/* DESIGN DOCUMENT STYLES */
.component {
    background: #f2f2f2;
    width: 100%;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.component.component-with-dialog {
    background: rgba(0,0,0,0.25);
}
.component-title {
    margin-top: 20px;
    font-size: 16px;
}
.component > .menu {
    display: inline-block;
    position: initial;
    opacity: 1;
}
.person {
    background-image: url('../img/person.png');
}
content .page-content {
    overflow: hidden;
}
.home {
    overflow: hidden;
}
.profile .btn-float {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility:hidden;
}
.profile:hover .btn-float {
    visibility: visible;
}
.example {
    background: #fff;
    width: 100%;
    padding: 30px;
    position: relative;
    margin-bottom: 30px;    
}

.card-image.cloud-climb {
    background: #4791d2;
    text-align: center;
    padding: 40px 0;
}

.cloud-climb img {
    max-width: 50%;
}